version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.1
    container_name: keycloak
    environment:
      KC_HOSTNAME: keycloak
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
    #ports:
    #  - "8080:8080"
    volumes:
      #- ./keycloak-themes/skylab:/opt/keycloak/themes/skylab
      - keycloak_data:/opt/keycloak/data
      - ./keycloak-themes/providers:/opt/keycloak/providers
    networks:
      - skynet
    restart: unless-stopped

volumes:
  keycloak_data:


networks:
  skynet:
    external: true