version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.3.1
    container_name: keycloak
    command: start
    environment:
      KC_HOSTNAME: e.yildizskylab.com
      KC_PROXY: edge
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak-themes/providers:/opt/keycloak/providers
    networks:
      - skynet
    restart: unless-stopped

  keycloak-db:
    image: postgres:17
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - skynet
    restart: unless-stopped

volumes:
  keycloak_data:
  keycloak_db_data:

networks:
  skynet:
    external: true