services:
  ldap-server:
    image: 389ds/dirsrv:latest
    container_name: ldap-server
    hostname: ldap.yildizskylab.com
    restart: unless-stopped
    #ports:
    #  - "3389:3389"
    #  - "3636:3636"
    environment:
      DS_DM_PASSWORD: "admin"
      DS_SUFFIX_NAME: "dc=yildizskylab,dc=com"
    volumes:
      - ldap_data:/data
    healthcheck:
      test: ["CMD", "/usr/lib/dirsrv/dscontainer", "-H"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - skynet

  ldap-setup:
    image: 389ds/dirsrv:latest
    container_name: ldap-setup
    depends_on:
      ldap-server:
        condition: service_healthy
    volumes:
      - ./init-scripts:/init-scripts:ro
    entrypoint: ["/bin/bash", "/init-scripts/setup.sh"]
    restart: "no"
    networks:
      - skynet

volumes:
  ldap_data:

networks:
  skynet:
    external: true